<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                <label for="inputTaxYear">Tax Year </label>
                <input type="text" class="form-control" id="inputTaxYear" >
                </div>

                <div class="form-group">
                <label for="inputAge">Age</label>
                <input type="text" class="form-control" id="inputAge">
                </div>
                
                <div class="form-group">
                <label for="inputTotalTaxable">Total Taxable Earning</label>
                <input type="text" class="form-control" id="inputTotalTaxable">
                </div>

                <div class="form-group">
                <label for="inputmedical">Medical Aid Members + Main</label>
                <input type="text" class="form-control" id="inputmedical">
                </div>
                <button type="submit" class="btn btn-primary">Calculate</button>
           </form>

           

        </div>
    </div>
</div>

